# --- Rust ---
/target/
/CrawlCipher.Terminal/target/
**/*.rs.bk
Cargo.lock

# --- C# / .NET ---
**/bin/
**/obj/
.vs/
*.user
*.suo
*.ide
*.pdb
*.dll
*.exe

# --- Output & Generated ---
output/
_repo2notebook/
repo2notebook.py
v2/

# --- IDEs / Editors ---
.vscode/
.idea/
*.swp
*.swo

# --- Python ---
__pycache__/
*.pyc

# Docs
docs/
target/
internal-docs/
#
core-binaries/libCrawlCipher.Core.so
.obsidian/
docker-builder/
docker-rust-build/
.dockerignore
